= form_for @user do |f|

  %fieldset
    .field
      = f.label :first_name
      = f.text_field :first_name
    .field
      = f.label :last_name
      = f.text_field :last_name
    .field
      = f.label :email
      = f.text_field :email
    .field
      = f.label :dob
      = f.date_select :dob
    .field
      = f.label :password
      = f.password_field :password
    .field
      = f.label :password_confirmation, "Confirmation"
      = f.password_field :password_confirmation

  .actions
    = f.submit 'Save'
