%p#notice= notice

%p
  %b First name:
  = @user.first_name
  %br
%p
  %b Last name:
  = @user.last_name
  %br
%p
  %b Email:
  = @user.email
  %br
%p
  %b Dob:
  = @user.dob
  %br


%p
  - if can? :update, @user
    = link_to "Edit User", edit_user_path(@user)
    \|
  - if can? :destroy, @user
    = link_to "Remove User", @user, :confirm => 'Are you sure?', :method => :delete

    %button= link_to 'Back', root_path
