%h1 Listing hospital_suggestions

%table
  %tr
    %th User
    %th Hospital
    %th
    %th
    %th

  - @hospital_suggestions.each do |hospital_suggestion|
    %tr
      %td= hospital_suggestion.user_id
      %td= hospital_suggestion.hospital_id
      %td= link_to 'Show', hospital_suggestion
      %td= link_to 'Edit', edit_hospital_suggestion_path(hospital_suggestion)
      %td= link_to 'Destroy', hospital_suggestion, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Hospital suggestion', new_hospital_suggestion_path
