%h1 Suggest Specialisation

= form_tag("/hospitals/#{params[:hospital_id]}/hospital_suggestions", id: :specialisations_form)
- @specialisation_categories_hash.each do |key, value|
  %h4= key.name

  - value.each do |specialisation|
    %input{type: :checkbox, name: "specialisations_id[]", value: specialisation.id, checked: specialisation.show_checked ? :checked : nil}= specialisation.name
    %br
%input{type: :submit, value: :Send}
%button= link_to :Back, @hospital