%p#notice= notice

%p
  %b Name:
  = @hospital.name
%p
  %b Address:
  = @hospital.address
%p
  %b Telephone:
  = @hospital.telephone

- @hospital.specialisations.each do |specialisation|
  = specialisation.name
  %br

= link_to 'Suggest Specialisations', new_hospital_hospital_suggestion_path(@hospital)
\|
= link_to 'Suggestions', hospital_hospital_suggestions_path(@hospital)
\|
= link_to 'Edit', edit_hospital_path(@hospital)
\|
= link_to 'Back', hospitals_path
