.hospital-page
  %p#notice= notice

  %p
    %b Name:
    = @hospital.name
  %p
    %b Address:
    = @hospital.address
  %p
    %b Telephone:
    = @hospital.telephone

  - @hospital.specialisations.each do |specialisation|
    = specialisation.name
    %br

  - if can? :create, HospitalSuggestion
    %button= link_to 'Suggest Specialisations', new_hospital_hospital_suggestion_path(@hospital)
    \|
  - if can? :read, HospitalSuggestion
    %button= link_to 'Suggestions', hospital_hospital_suggestions_path(@hospital)
    \|
  - if can? :edit, Hospital
    %button= link_to 'Edit', edit_hospital_path(@hospital)
    \|
  %button= link_to 'Back', root_path

.slogan
  %p Keep yourself warm avoid Pneumonia
