%body
.navbar.navbar-default
  .navbar-brand.strong= link_to "Hospital locator", root_path
  %ul.nav.navbar-nav.navbar-left
    / .navbar-brand.strong= link_to "Hospitals", hospitals_path
    - if can? :read, :all_suggestions
      .navbar-brand.strong= link_to "Suggestions", hospital_suggestions_path
      .navbar-brand.strong= link_to "Users", users_path
  = form_tag("/hospitals/search", id: "search-form", class: "navbar-form navbar-left") do
    .form-group
      = text_field_tag :search, nil, class: "form-control", placeholder: :Search
    .form-group
      = select_tag(:specialisation_category_id, options_for_select(@specialisation_categories))
      = select_tag(:specialisation_id)
    = submit_tag :Search, class: "btn btn-default"
  - if current_user
    %p
      hello,
      = link_to current_user.first_name, current_user
      = link_to 'Logout', logout_path, method: :delete, data: {confirm:"Are you sure?"}
  .navbar-brand.strong= link_to 'Please login', login_path
  .navbar-brand.strong= link_to 'Please Signup', signup_path
  .navbar-brand.strong= link_to "About Us", about_path
  .navbar-brand.strong= link_to "Contact Us", contact_path




