%p#notice= notice

%p
  %b Name:
  = @specialisation_category.name
%p
  %b Spec cat:
  = @specialisation_category.spec_cat_id

= link_to 'Edit', edit_specialisation_category_path(@specialisation_category)
\|
= link_to 'Back', specialisation_categories_path
