!!!
%html
  %head
    %title Hospital locator
    = stylesheet_link_tag "application", :media => "all"
    %link{href: "http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css", rel: "stylesheet"}/
    %script{src: "https://maps.googleapis.com/maps/api/js?key=AIzaSyBoczuh9EiBa-u4TaQKQHV79Fu2D6Pl6X0&sensor=false"}
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = render "navbar"
    = yield
